<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Climatempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{previsao.name}}
      </ion-card-title>
      <br>
      <ion-card-title><ion-icon name="partly-sunny-outline"></ion-icon> 27C°</ion-card-title>
    </ion-card-header>

    <ion-card-content>

        <ion-item>
          <ion-label>
            04/08
          </ion-label>

          <ion-label class="min-max">
            14°/28°
          </ion-label>

          <ion-label slot="end">
            <div class="ion-text-center">
              <ion-icon name="partly-sunny-outline"></ion-icon>
               <p>Ensolarado</p>
            </div>
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label>
            21/08
          </ion-label>

          <ion-label class="min-max">
            19°/30°
          </ion-label>

          <ion-label slot="end">
            <div class="ion-text-center">
              <ion-icon name="partly-sunny-outline"></ion-icon>
               <p>Chuvoso</p>
            </div>
          </ion-label>
        </ion-item>





        <ion-item>
          <ion-label>
            06/08
          </ion-label>

          <ion-label class="min-max">
            18°/28°
          </ion-label>

          <ion-label slot="end">
            <div class="ion-text-center">
              <ion-icon name="partly-sunny-outline"></ion-icon>
               <p>Nublado</p>
            </div>
          </ion-label>
        </ion-item>



        <ion-item>
          <ion-label>
            07/08
          </ion-label>

          <ion-label class="min-max">
            17°/20°
          </ion-label>

          <ion-label slot="end">
            <div class="ion-text-center">
              <ion-icon name="partly-sunny-outline"></ion-icon>
               <p>Tempestuoso</p>
            </div>
          </ion-label>
        </ion-item>



    </ion-card-content>
  </ion-card>

</ion-content>
